/************************Tag Selectors*********************************/
/* img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(18, 223, 62);
    border-radius: 50%; */
} */

body {
    background-color: #eaf6f6;
}

hr {
    /* background-color: white; */
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;


    width: 5%;

}

h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}

/******************** Class Selectors*************************/
.circular{
    width: 200px;
    height: 200px;
    border-radius:  100%;

}
